html {
  scroll-behavior: smooth;
}

.swiper-container {
  width: 600px;
  height: 300px;
}

h2 {
  color: rgb(26, 26, 26);
}

h2:after {
  background-color: #4f94e4;
  border-radius: 50px;
  height: 7px;
}

.mainheader {
  background-color: rgb(26, 26, 26);
  color: rgb(214, 214, 214);
}

.container {
  width: 1000px;
}

.mainheader > .container > img {
  width: 150px;
}

.mainnav > ul li a {
  font-size: 18px;
  color: rgb(214, 214, 214);
  transition: 0.1s;
  border-radius: 50px;
}

.mainnav > ul li:hover a {
  color: #4f94e4;
  text-shadow: 0px 0px 15px #4f94e4;
}

.mainnav > ul li.active a {
  color: #4f94e4;
}

.cart1 {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

button > img {
  width: 14px;
  cursor: pointer;
}

.carousel {
  overflow: hidden;
  width: 800px;
  margin: auto;
}

.kit_slide > img {
  width: 300px;
}

.kit_slides_wrapper {
  display: flex;
  width: 700px;
}

#prev {
  font-size: 40px;
  color: rgb(26, 26, 26);
  position: absolute;
  left: 15px;
  top: 250px;
  bottom: 220px;
  cursor: pointer;
  transition: 0.1s;
}
#next {
  font-size: 40px;
  color: rgb(26, 26, 26);
  position: absolute;
  right: 15px;
  top: 250px;
  bottom: 220px;
  cursor: pointer;
  transition: 0.2s;
}

#slider_arrow_right:active,
#slider_arrow_left:active {
  color: #3892f8;
}

.order-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order-alert {
  width: 500px;
  height: 202px;
  border-radius: 10px;
  border: 1px solid black;
  padding: 25px;
  transform: translateY(-17px);
}

button {
  border-radius: 5px;
  border: 1px solid rgb(26, 26, 26);
  box-shadow: 0 7px rgb(34, 34, 34);
  outline: 0;
  font-size: 15px;
  cursor: pointer;
  color: rgb(245, 245, 245);
  transition: 0.1s;
  background-color: #4f94e4;
}

button:active {
  box-shadow: none;
  transform: translateY(7px);
  transition: 150ms;
}

.product > button {
  border-radius: 5px;
  border: 1px solid rgb(26, 26, 26);
  box-shadow: 0 5px rgb(34, 34, 34);
  outline: 0;
  font-size: 15px;
  cursor: pointer;
  transition: 0.1s;
  background-color: #4f94e4;
}

.product > button:active {
  box-shadow: none;
  transform: translateY(5px);
  transition: 150ms;
}

.more-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.more {
  width: 70px;
  margin-bottom: 50px;
}

footer {
  background-color: rgb(26, 26, 26);
  width: 100%;
  height: 150px;
  padding: 10px 0;
  justify-content: center; /* выравнивание по ширине */
  display: flex;
  bottom: 0;
  position: relative;
}
footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  color: white;
  font-size: 30px;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.item > li {
  width: 70px;
  height: 70px;
  background-color: rgb(26, 26, 26);
  border: 5px solid white;
  border-radius: 50%;
  line-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 50px;
  cursor: pointer;
  transition: 0.2s;
}

.item > li:hover {
  color: #3892f8;
  /*width: 80px;
  height: 80px;
  font-size: 35px; */
  border: 7px solid #3892f8;
  box-shadow: 0px 0px 25px #3892f8;
}

.section-last {
  height: 1150px;
}


.progress {
  position: fixed;
  left: 0;
  top: 83px;
  width: 0%;
  height: 7px;
  background-color: #3892f8;
  color: #3892f8;
  opacity: 100%;
}

.arrow-cont {
  position: fixed;
  background: #3892f8;
  color: rgb(245, 245, 245);
  bottom: 20px;
  right: 32px;
  width: 80px;
  height: 80px;
  font-size: 50px;
  border-radius: 50%;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  opacity: 0;
  transition: all .4s;
}

.arrow-cont.active {
  bottom: 40px;
  opacity: 1;
  pointer-events: auto;
}


.arrow-cont:hover {
  background: rgb(26, 26, 26);
  color: #3892f8;
  text-shadow: 0px 0px 20px #4f94e4;
}
